# Ignore .env files
.env

# Ignore JS files
**/dist
**/node_modules

# Igonre .terraform provider files
**/.terraform

# Ignore esbuild artifacts
**/index.zip

# Ignore CDK artifacts
**/cdk.out

*.d.ts
